* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgb(237,59,59), rgb(85,0,99));
  align-items: center;
  font-family: sans-serif;
  color: #fff;
}

.location, .temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temperature {
  flex-direction: column;
  display: flex;
  align-items: center;
}

/* 
  Degree Section
*/

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-section, span {
  margin: 10px;
  font-size: 30px;
}

.degree-section, h2 {
  font-size: 40px;
}

/*
  Yael Section
*/

.yaelSection {
  padding-top: 30px;
  text-align: center;
}

.yaelSection a {
  color: #00BCD4;
}

.yaelSection h3 {
  margin: 10px;
}